# Лабораторная работа 5. Библиотека Pandas

In [ ]:
import pandas as pd

## Считываем файл в DataFrame

1. Считайте данные из файла cars_moldova.csv в датафрейм df и выведите его содержимое в консоль

    Набор данных представляет собой статистику параметров автомобилей на вторичном рынке в Молдавии.

In [ ]:
try:
    df = pd.read_csv("cars_moldova.csv")
    df = pd.DataFrame(df)
    print(df)
except FileNotFoundError:
    print("Файл не найден")
    exit()

             Make         Model  Year      Style  Distance  \
0          Toyota         Prius  2011  Hatchback  195000.0
1         Renault  Grand Scenic  2014  Universal  135000.0
2      Volkswagen          Golf  1998  Hatchback       1.0
3         Renault        Laguna  2012  Universal  110000.0
4            Opel         Astra  2006  Universal  200000.0
...           ...           ...   ...        ...       ...
37259  Land Rover    Freelander  2002  Crossover  225000.0
37260       Dacia     Logan Mcv  2015  Universal   89000.0
37261     Renault         Modus  2009  Hatchback     225.0
37262       Mazda             6  2006      Combi  370000.0
37263     Renault  Grand Scenic  2006    Minivan  300000.0

       Engine_capacity(cm3)     Fuel_type Transmission  Price(euro)
0                    1800.0        Hybrid    Automatic       7750.0
1                    1500.0        Diesel       Manual       8550.0
2                    1400.0        Petrol       Manual       2200.0
3                    1500.0        Diesel       Manual       6550.0
4                    1600.0  Metan/Propan       Manual       4100.0
...                     ...           ...          ...          ...
37259                1800.0  Metan/Propan       Manual       4400.0
37260                1500.0        Diesel       Manual       7000.0
37261                1500.0        Diesel       Manual       4500.0
37262                2000.0        Diesel       Manual       4000.0
37263                1500.0        Diesel       Manual       4000.0

[37264 rows x 9 columns]

## Информация о DataFrame

2. Выведите на экран подробную информацию о df, используя метод `.info()`

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37264 entries, 0 to 37263
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Make                  37264 non-null  object
 1   Model                 37264 non-null  object
 2   Year                  37264 non-null  int64
 3   Style                 37264 non-null  object
 4   Distance              37264 non-null  float64
 5   Engine_capacity(cm3)  37264 non-null  float64
 6   Fuel_type             37264 non-null  object
 7   Transmission          37264 non-null  object
 8   Price(euro)           37264 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 2.6+ MB
None

## Поиск Дубликатов

3. Выведите на экран количество строк-дубликатов df (используйте метод `.duplicated()` и функцию `.sum()`)

In [ ]:
print (df.duplicated().sum())

0

4. Удалите дубликаты в df и обновите индексы (используйте метод `.drop_duplicates()`)

In [ ]:
df.drop_duplicates()
df.reset_index(drop=True)

,Make,Model,Year,Style,Distance,Engine_capacity(cm3),Fuel_type,Transmission,Price(euro)
0,Toyota,Prius,2011,Hatchback,195000.0,1800.0,Hybrid,Automatic,7750.0
1,Renault,Grand Scenic,2014,Universal,135000.0,1500.0,Diesel,Manual,8550.0
2,Volkswagen,Golf,1998,Hatchback,1.0,1400.0,Petrol,Manual,2200.0
3,Renault,Laguna,2012,Universal,110000.0,1500.0,Diesel,Manual,6550.0
4,Opel,Astra,2006,Universal,200000.0,1600.0,Metan/Propan,Manual,4100.0
...,...,...,...,...,...,...,...,...,...
37259,Land Rover,Freelander,2002,Crossover,225000.0,1800.0,Metan/Propan,Manual,4400.0
37260,Dacia,Logan Mcv,2015,Universal,89000.0,1500.0,Diesel,Manual,7000.0
37261,Renault,Modus,2009,Hatchback,225.0,1500.0,Diesel,Manual,4500.0
37262,Mazda,6,2006,Combi,370000.0,2000.0,Diesel,Manual,4000.0
37263,Renault,Grand Scenic,2006,Minivan,300000.0,1500.0,Diesel,Manual,4000.0

## Индексация

5. Выведите первые 5 строк df

In [ ]:
print (df.head())

         Make         Model  Year      Style  Distance  Engine_capacity(cm3)  \
0      Toyota         Prius  2011  Hatchback  195000.0                1800.0
1     Renault  Grand Scenic  2014  Universal  135000.0                1500.0
2  Volkswagen          Golf  1998  Hatchback       1.0                1400.0
3     Renault        Laguna  2012  Universal  110000.0                1500.0
4        Opel         Astra  2006  Universal  200000.0                1600.0

      Fuel_type Transmission  Price(euro)
0        Hybrid    Automatic       7750.0
1        Diesel       Manual       8550.0
2        Petrol       Manual       2200.0
3        Diesel       Manual       6550.0
4  Metan/Propan       Manual       4100.0

6. Выведите последние 5 строк df

In [ ]:
print(df.tail())

             Make         Model  Year      Style  Distance  \
37259  Land Rover    Freelander  2002  Crossover  225000.0
37260       Dacia     Logan Mcv  2015  Universal   89000.0
37261     Renault         Modus  2009  Hatchback     225.0
37262       Mazda             6  2006      Combi  370000.0
37263     Renault  Grand Scenic  2006    Minivan  300000.0

       Engine_capacity(cm3)     Fuel_type Transmission  Price(euro)
37259                1800.0  Metan/Propan       Manual       4400.0
37260                1500.0        Diesel       Manual       7000.0
37261                1500.0        Diesel       Manual       4500.0
37262                2000.0        Diesel       Manual       4000.0
37263                1500.0        Diesel       Manual       4000.0

7. Выведите значение ячейки df с индексом 124 в столбце 'Transmission'

In [ ]:
transmission_value = df.loc[124, 'Transmission']
print(transmission_value)

Make                      Renault
Model                      Megane
Year                         2010
Style                   Universal
Distance                 257110.0
Engine_capacity(cm3)       1500.0
Fuel_type                  Diesel
Transmission               Manual
Price(euro)                4999.0
Name: 124, dtype: object

8. Выведите первые 5 значений cтолбцов df с 'Make' до 'Style'

In [ ]:
print(df.loc[1, 'Make':'Style'])

Make          Renault
Model    Grand Scenic
Year             2014
Style       Universal
Name: 1, dtype: object

**Логическое Индексирование**

9. Выведите машины с мануальной трансмиссией (Transmission = Manual)

In [ ]:
cars = df[df['Transmission'] == 'Manual']
print((df["Transmission"] == "Manual").sum())
print (cars)

20723
             Make         Model  Year      Style  Distance  \
1         Renault  Grand Scenic  2014  Universal  135000.0
2      Volkswagen          Golf  1998  Hatchback       1.0
3         Renault        Laguna  2012  Universal  110000.0
4            Opel         Astra  2006  Universal  200000.0
5        Mercedes          Vito  2000   Microvan  300000.0
...           ...           ...   ...        ...       ...
37259  Land Rover    Freelander  2002  Crossover  225000.0
37260       Dacia     Logan Mcv  2015  Universal   89000.0
37261     Renault         Modus  2009  Hatchback     225.0
37262       Mazda             6  2006      Combi  370000.0
37263     Renault  Grand Scenic  2006    Minivan  300000.0

       Engine_capacity(cm3)     Fuel_type Transmission  Price(euro)
1                    1500.0        Diesel       Manual       8550.0
2                    1400.0        Petrol       Manual       2200.0
3                    1500.0        Diesel       Manual       6550.0
4                    1600.0  Metan/Propan       Manual       4100.0
5                    2200.0        Diesel       Manual       3490.0
...                     ...           ...          ...          ...
37259                1800.0  Metan/Propan       Manual       4400.0
37260                1500.0        Diesel       Manual       7000.0
37261                1500.0        Diesel       Manual       4500.0
37262                2000.0        Diesel       Manual       4000.0
37263                1500.0        Diesel       Manual       4000.0

[20723 rows x 9 columns]

9. Выведите все машины с мануальной трансмиссией и годом выпуска (Year) после 2000 года

In [ ]:
manual_cars_after_2000 = df[(df['Transmission'] == 'Manual') & (df['Year'] > 2000)]
print(manual_cars_after_2000)

             Make         Model  Year      Style  Distance  \
1         Renault  Grand Scenic  2014  Universal  135000.0
3         Renault        Laguna  2012  Universal  110000.0
4            Opel         Astra  2006  Universal  200000.0
6      Volkswagen        Passat  2010  Universal  290000.0
9             BMW      5 Series  2004      Sedan  325000.0
...           ...           ...   ...        ...       ...
37259  Land Rover    Freelander  2002  Crossover  225000.0
37260       Dacia     Logan Mcv  2015  Universal   89000.0
37261     Renault         Modus  2009  Hatchback     225.0
37262       Mazda             6  2006      Combi  370000.0
37263     Renault  Grand Scenic  2006    Minivan  300000.0

       Engine_capacity(cm3)     Fuel_type Transmission  Price(euro)
1                    1500.0        Diesel       Manual       8550.0
3                    1500.0        Diesel       Manual       6550.0
4                    1600.0  Metan/Propan       Manual       4100.0
6                    1390.0        Petrol       Manual       5600.0
9                     300.0        Diesel       Manual       3400.0
...                     ...           ...          ...          ...
37259                1800.0  Metan/Propan       Manual       4400.0
37260                1500.0        Diesel       Manual       7000.0
37261                1500.0        Diesel       Manual       4500.0
37262                2000.0        Diesel       Manual       4000.0
37263                1500.0        Diesel       Manual       4000.0

[15562 rows x 9 columns]

## Сортировка DataFrame

Метод `.sort_values(by)`

`by` - по какой колонке сортируем

10. Отсортируйте df по цене (Price(euro)) (по возрастанию)

In [ ]:
print (df.sort_values(by="Price(euro)"))

             Make               Model  Year      Style   Distance  \
18658        Opel            Frontera  1999        SUV      296.0
19867    Mercedes       Series (W124)  1989  Universal     1111.0
5077         Audi                  A6  2004  Universal    12345.0
14463  Alta marca           Alt model  1997  Crossover  1999922.0
14547         Vaz              Altele  1989  Universal   199888.0
...           ...                 ...   ...        ...        ...
13131      Toyota  Land Cruiser Prado  2012        SUV    10005.0
14834  Volkswagen               Caddy  2015      Combi   158260.0
29132    Mercedes             G Class  2020        SUV     3000.0
17849         KIA            Sportage  2018  Crossover    46000.0
33677  Brilliance                 BS3  2009      Sedan    57000.0

       Engine_capacity(cm3)     Fuel_type Transmission  Price(euro)
18658                2200.0        Diesel    Automatic          1.0
19867                3000.0        Diesel    Automatic          1.0
5077                 2500.0        Diesel       Manual          1.0
14463                1600.0        Petrol       Manual          5.0
14547                1300.0        Petrol       Manual          5.0
...                     ...           ...          ...          ...
13131                3000.0        Diesel    Automatic     200000.0
14834                1395.0  Metan/Propan       Manual     200000.0
29132                3982.0        Petrol    Automatic     215000.0
17849                1600.0        Petrol    Automatic     490000.0
33677                1598.0        Petrol       Manual   10000000.0

[37264 rows x 9 columns]

11. Отсортируйте df по году выпуска (Year) (по убыванию)

In [ ]:
print(df.sort_values(by= "Year", ascending=0))

             Make      Model  Year      Style    Distance  \
29164        Audi         A5  2021      Sedan       661.0
32583    Mercedes  GLS Klass  2021        SUV         0.0
15611  Volkswagen       Polo  2021  Universal    280000.0
6044        Skoda     Superb  2021      Sedan         0.0
11840      Toyota    Corolla  2021  Universal       288.0
...           ...        ...   ...        ...         ...
22488        Audi         80  1900      Sedan         0.0
37134       Mazda        323  1900      Sedan    145000.0
27647         Vaz       2108  1900  Universal  57885658.0
36443      Toyota     Carina  1900      Sedan      2200.0
36363        Opel     Vectra  1900      Sedan    162000.0

       Engine_capacity(cm3) Fuel_type Transmission  Price(euro)
29164                2000.0    Petrol    Automatic      32200.0
32583                3000.0    Diesel    Automatic     107528.0
15611                1400.0    Petrol       Manual       1900.0
6044                 1500.0    Petrol    Automatic      30000.0
11840                1987.0    Hybrid    Automatic      23000.0
...                     ...       ...          ...          ...
22488                1000.0    Petrol       Manual       1500.0
37134                1800.0    Petrol       Manual       1450.0
27647                 889.0    Petrol       Manual       3500.0
36443                1800.0    Petrol       Manual       1600.0
36363                2000.0    Petrol       Manual       1000.0

[37264 rows x 9 columns]

12. Отсортируйте df по цене (Price(euro)) (по возрастанию) и по рабочему объему двигателя (Engine_capacity(cm3)) (по убыванию)

In [ ]:
print(df.sort_values(["Price(euro)", "Engine_capacity(cm3)"], ascending=[1, 0]))

             Make               Model  Year      Style   Distance  \
19867    Mercedes       Series (W124)  1989  Universal     1111.0
5077         Audi                  A6  2004  Universal    12345.0
18658        Opel            Frontera  1999        SUV      296.0
14463  Alta marca           Alt model  1997  Crossover  1999922.0
14478  Alta marca           Alt model  1992      Sedan   192222.0
...           ...                 ...   ...        ...        ...
13131      Toyota  Land Cruiser Prado  2012        SUV    10005.0
14834  Volkswagen               Caddy  2015      Combi   158260.0
29132    Mercedes             G Class  2020        SUV     3000.0
17849         KIA            Sportage  2018  Crossover    46000.0
33677  Brilliance                 BS3  2009      Sedan    57000.0

       Engine_capacity(cm3)     Fuel_type Transmission  Price(euro)
19867                3000.0        Diesel    Automatic          1.0
5077                 2500.0        Diesel       Manual          1.0
18658                2200.0        Diesel    Automatic          1.0
14463                1600.0        Petrol       Manual          5.0
14478                1300.0        Petrol       Manual          5.0
...                     ...           ...          ...          ...
13131                3000.0        Diesel    Automatic     200000.0
14834                1395.0  Metan/Propan       Manual     200000.0
29132                3982.0        Petrol    Automatic     215000.0
17849                1600.0        Petrol    Automatic     490000.0
33677                1598.0        Petrol       Manual   10000000.0

[37264 rows x 9 columns]

## Анализ признаков

13. Создайте список с именами столбцов категориальных данных df (тип данных object) и список с именами столбцов числовых данных df

In [ ]:
cat_columns = [] #  список для имен столбцов категориальных данных
num_columns = [] #  список для имен столбцов числовых данных


cat_columns = df.select_dtypes(include=['object']).columns.tolist()
num_columns = df.select_dtypes(include=['number']).columns.tolist()

print (cat_columns)
print (num_columns)

['Make', 'Model', 'Style', 'Fuel_type', 'Transmission']
['Year', 'Distance', 'Engine_capacity(cm3)', 'Price(euro)']

### Числовые признаки

14. Выведите статистические параметры по численным признакам, используя метод `.describe()`

In [ ]:
print(df.describe())

               Year      Distance  Engine_capacity(cm3)   Price(euro)
count  37264.000000  3.726400e+04          37264.000000  3.726400e+04
mean    2007.709264  4.758488e+05           1858.932535  9.569387e+03
std        8.295806  4.591520e+06            707.662731  5.283315e+04
min     1900.000000  0.000000e+00              0.000000  1.000000e+00
25%     2004.000000  9.000000e+04           1499.000000  3.300000e+03
50%     2009.000000  1.700000e+05           1800.000000  6.490000e+03
75%     2014.000000  2.300000e+05           2000.000000  1.179900e+04
max     2021.000000  1.000000e+08           9999.000000  1.000000e+07

15. Выведите средние значения численных признаков для автоматической и мануальной трансмиссий (используйте метод `.groupby()`)

In [ ]:
print(df.groupby("Transmission")[num_columns].mean())

                     Year       Distance  Engine_capacity(cm3)   Price(euro)
Transmission
Automatic     2011.170788  267131.045584           2136.525966  14657.392358
Manual        2004.946292  642446.333784           1637.358780   5508.166144

16. Выведите таблицу корреляции числовых признаков (используйте метод `.corr()`)

In [ ]:
print (df[num_columns].corr())

                          Year  Distance  Engine_capacity(cm3)  Price(euro)
Year                  1.000000 -0.084072             -0.016698     0.094408
Distance             -0.084072  1.000000             -0.014209    -0.008938
Engine_capacity(cm3) -0.016698 -0.014209              1.000000     0.063152
Price(euro)           0.094408 -0.008938              0.063152     1.000000

### Категориальные данные

17. Выведите количество уникальных значений для каждого категориального столбца с помощью метода `.nunique()`

In [ ]:
print (df[cat_columns].nunique())

Make             45
Model           829
Style            12
Fuel_type         6
Transmission      2
dtype: int64

18. Выведите, сколько раз встречается значение каждой категории столбца 'Make' с помощью метода `value_counts()`

    Назовите полученный датафрейм 'counts'

In [ ]:
counts = df['Make'].value_counts()
print(counts)

Make
Volkswagen        3953
Mercedes          3501
Toyota            3427
BMW               2998
Renault           2685
Opel              2220
Skoda             1892
Audi              1786
Ford              1527
Dacia             1524
Nissan            1464
Hyundai           1341
Honda             1029
KIA                750
Mitsubishi         729
Vaz                654
Lexus              651
Volvo              636
Mazda              539
Peugeot            469
Chevrolet          365
Rare               346
Citroen            337
Land Rover         313
Seat               286
Fiat               237
Porsche            204
Suzuki             176
Subaru             171
Rover              115
Chrysler            97
Jeep                94
GAZ                 82
Daewoo              79
Mini                76
Infiniti            72
Jaguar              71
Dodge               66
Lincoln             57
Moskvich / Izh      51
Alfa Romeo          46
Smart               42
UAZ                 41
Ssangyong           34
Daihatsu            31
Name: count, dtype: int64

Часть наших признаков имеют слишком много записей. Редкие из них можно исключить без потери точности.

Сделаем эту операцию объявив такие записи одним типом - rare.

19. Посчитайте медиану встречаемости категорий counts (метод `.median()`)

In [ ]:
median_count = counts.median()
print(median_count)

337.0

20. Замените в столбце 'Make' датафрейма df категории, которые встречаются реже медианного значения раз, на категорию 'Rare'

In [ ]:
df['Make'] = df['Make'].apply(lambda x: 'Rare' if counts[x] < median_count else x)

21. Сохраните датафрейм df в файл, используя метод `.to_csv(path, index)`

In [ ]:
df.to_csv("cars_moldova_processed.csv", index= False)

## Бонусные задачи

__22*. Какая цена у самой дешевой машины от Toyota с автоматическим типом трансмиссии__

In [ ]:
 toyotas = df[(df['Make']  == "Toyota")]
 toyotas_automatic = toyotas[(toyotas['Transmission'] == 'Automatic')]
 toyotas_automatic = toyotas_automatic.sort_values(by="Price(euro)")
 to = toyotas_automatic
 print(to)

         Make               Model  Year      Style  Distance  \
32506  Toyota             Corolla  2005  Hatchback  210000.0
2880   Toyota             Corolla  2000  Hatchback     222.0
26994  Toyota               Prius  2007  Hatchback       1.0
25851  Toyota             Corolla  2005  Hatchback  156000.0
31296  Toyota              Celica  2001      Coupe  132000.0
...       ...                 ...   ...        ...       ...
3613   Toyota        Land Cruiser  2018        SUV   38000.0
3668   Toyota        Land Cruiser  2019        SUV   24193.0
24660  Toyota        Land Cruiser  2020        SUV   22000.0
12010  Toyota        Land Cruiser  2019        SUV    2051.0
13131  Toyota  Land Cruiser Prado  2012        SUV   10005.0

       Engine_capacity(cm3) Fuel_type Transmission  Price(euro)
32506                1400.0    Diesel    Automatic        250.0
2880                 2000.0    Petrol    Automatic       1000.0
26994                1400.0    Petrol    Automatic       1250.0
25851                1400.0    Diesel    Automatic       1700.0
31296                1800.0    Petrol    Automatic       2100.0
...                     ...       ...          ...          ...
3613                 4500.0    Diesel    Automatic      67000.0
3668                 4500.0    Diesel    Automatic      67999.0
24660                4500.0    Diesel    Automatic      72999.0
12010                4461.0    Diesel    Automatic      82999.0
13131                3000.0    Diesel    Automatic     200000.0

[1794 rows x 9 columns]

__23*. Какую пропорцию составляют машины с автоматической трансмиссией среди всех машин производителя Toyota__

In [ ]:
'''ваш код'''

__24*. Найдите среднее и стандартное отклонение для объёма двигателя машин Volkswagen с 2000 по 2010 года__

In [ ]:
'''ваш код'''

__25*. Выведите названия всех уникальных моделей машин Mercedes с ручной (Manual) трансмиссией. Посчитайте их количество__

In [ ]:
'''ваш код'''

__26*. Найдите самый многочисленный и самый малочисленный тип топлива у машин__

In [ ]:
'''ваш код'''

__27*. Найдите абсолютную разницу между количеством уникальных моделей автомобилей Renault и Toyota__

In [ ]:
'''ваш код'''